GEMINI_API_KEY=VOTRE_CLE_ICI
YOUTUBE_API_KEY=VOTRE_CLE_ICI
XAI_API_KEY=VOTRE_CLE_ICI
HA_URL=http://192.168.1.XX:8123
HA_TOKEN=VOTRE_TOKEN_ICI
SERPAPI_API_KEY=VOTRE_CLE_ICI
GROQ_API_KEY=VOTRE_CLE_ICI
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=
